
/* Colores */

:root{
    --white: #ffffff;
    --grey: #414141;
    --red: 	#d62d20;
    --amarillo: #ffa700;
    --blue: #d9ea2b;
    --orange:#e34c26;
    --green:#008744;
    --blueReact: #61DBFB;
}

.c__primario{
    color: #d9ea2b
}