/* Sección ABOUT */

.section__title {
    color: var(--white);
    font-size: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.section__subtitle {
    color: var(--white);
    text-align: start;
    margin-bottom: 20px;
}

.about__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.about__description {
    text-align: left;
    color: var(--white);
    padding-right: 80px;
    line-height: 40px;
}

.about__summary {
    margin: 30px 0;
}

.about__description span {
    color: var(--white);
}

.about__description h2 {
    font-size: 20px;
    color: var(--white);
    margin: 20px 0;
}

.about__skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.skill__title {
    color: var(--white);
    grid-column: span 3;
    text-align: center;
    margin: 20px 0;
}

.title__skill {
    font-size: 20px;
}

.skill__item {
    font-size: 65px;
    color: var(--grey);
    padding: 35px;
    transition: all 0.3s;
    min-width: 130px;
    height: 180px;
}
.fa-html5{
    color: #e34c26;
}

.fa-css3-alt{
    color: #264de4;
}

.fa-js{
    color:#f0db4f ;
}

.fa-git-alt{
    color: #f34f29;
}

.fa-react{
    color: var(--blueReact);
}

.fa-sass{
    color: violet;
}

.skill__name {
    font-size: 16px;
    text-align: center;
}